
body {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #242a37;
}

nav {
  background: #fff;
  margin-bottom: 15px !important;
}

a:hover {
  text-decoration: none;
}